.file-ext {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0;
  font-size: 25px; }

.file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
  font-size: 12px;
  text-align: center; }

.actions {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  @media only screen and (max-width: 767.98px) {
    .actions {
      display: block; } }
  @media only screen and (min-width: 768px) {
    .actions {
      display: none;
      background: rgba(0, 0, 0, 0.5); } }
  .actions .action {
    position: absolute;
    cursor: pointer; }
    .actions .action.top-left {
      top: 5%;
      right: 5%; }
    .actions .action.top-right {
      top: 5%;
      right: 5%; }
    .actions .action.bottom-left {
      bottom: 5%;
      left: 5%; }
    .actions .action.bottom-right {
      bottom: 5%;
      right: 5%; }
    .actions .action.mat-mini-fab {
      width: 22%;
      height: 22%;
      min-width: 30px;
      min-height: 30px;
      max-width: 42px;
      max-height: 42px;
      line-height: 15px !important; }
      .actions .action.mat-mini-fab .mat-button-wrapper {
        padding: 4px 0;
        line-height: 15px !important; }

:host:hover .file-name {
  overflow: visible;
  white-space: normal;
  word-wrap: break-word; }

:host.preview {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  border: 1px #DDD solid;
  vertical-align: top;
  border-radius: 3px; }
  :host.preview:last-child {
    margin-right: 0; }
  :host.preview:hover .actions, :host.preview:focus .actions {
    display: block; }
  :host.preview img {
    display: block;
    border-radius: 3px;
    object-fit: cover;
    width: 100%;
    height: 100%; }

:host ::ng-deep .mat-button-wrapper {
  padding: 0;
  line-height: 15px !important; }

:host ::ng-deep .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25%;
  margin-top: -25%; }

@media only screen and (max-width: 550px) {
  .actions {
    display: block;
    background: none; } }
