<h1 mat-dialog-title>Image Utilities</h1>
<mat-dialog-content>

  <div *ngIf="data.file" class="details">
      <a [href]="data.file.url" target="_blank" class="image-url"><img class="image" [src]="data.file.url" (load)="imageLoad($event)"></a>
    <br>
    <fs-label-field>
      <fs-label>Image Size</fs-label>
      {{width}} x {{height}}
    </fs-label-field>

    <fs-label-field>
      <fs-label>Image Url</fs-label>
      <a [href]="data.file.url" target="_blank" class="url">{{data.file.url}}</a>
    </fs-label-field>
  </div>

  <!-- <mat-form-field>
    <textarea
      placeholder="Input"
      [(ngModel)]="input"
      name="input"
      matInput>
    </textarea>
  </mat-form-field> -->
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="primary">Done</button>
  <a mat-button [href]="reverseUrl" target="_blank" type="button">Reverse Image Lookup</a>
</mat-dialog-actions>