<div class="wrap" [style.width.px]="previewDiameter" [style.height.px]="previewDiameter" [ngClass]="{ disabled: !allowUpload }">

  <fs-file
    *ngIf="allowUpload"
    (select)="selectFile($event)"
    (error)="error.emit($event)"
    (clicked)="clicked.emit($event)"
    [minHeight]="minHeight"
    [minWidth]="minWidth"
    [imageWidth]="imageWidth"
    [imageHeight]="imageHeight"
    [imageQuality]="imageQuality"
    [disabled]="disabled"
    accept="image/*"
    multiple="false">

    <ng-container *ngTemplateOutlet="filePreview"></ng-container>

    <!-- <ng-container *ngIf="preview; else noImage">
      <img class="image-preview" [src]="preview" [style.objectFit]="previewFit">
      <mat-spinner class="spinner" *ngIf="file.progress" [diameter]="previewDiameter/2"></mat-spinner>
    </ng-container>

    <ng-template #noImage>
      <div class="image-preview"
          [style.background]="'#f2f2f2'"
          [style.width.px]="previewDiameter"
          [style.height.px]="previewDiameter"></div>
      <mat-spinner class="spinner" *ngIf="file.progress" [diameter]="previewDiameter/2"></mat-spinner>
    </ng-template> -->

    <div *ngIf="allowUpload" class="update-action" [ngStyle]="updateStyle"> {{file && file.exists ? 'Update' : 'Upload '}} </div>
  </fs-file>

  <ng-container *ngIf="!allowUpload">
    <ng-container *ngTemplateOutlet="filePreview"></ng-container>
  </ng-container>
</div>

<ng-template #filePreview>
  <fs-file-preview
    [file]="file"
    [previewHeight]="previewDiameter"
    [previewWidth]="previewDiameter"
    class="image-preview">
  </fs-file-preview>
</ng-template>
