.wrap {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  border: 1px solid #f2f2f2;
  &.disabled {
    cursor: auto;
  }
}

.image-preview {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.update-action {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  background-color: rgba(169, 169, 169, 0.7);
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}
