<fs-file-picker
    (select)="selectFile($event)"
    [file]="file"
    [showActionOn]="'always'"
    [minHeight]="minHeight"
    [minWidth]="minWidth"
    [imageWidth]="imageWidth"
    [imageHeight]="imageHeight"
    [imageQuality]="imageQuality"
    [previewHeight]="previewDiameter"
    [previewWidth]="previewDiameter"
    [actions]="actions"
    [uploadIcon]="'photo_camera'"
    [accept]="'image/*'"
    [disabled]="disabled">
  <ng-template fsFilePickerSelect>
    <div
        class="fs-file-image-picker-placeholder"
        [style.height]="previewDiameter + 'px'"
        [style.width]="previewDiameter + 'px'">
      <mat-icon
          class="image-icon"
          [style.transform]="'scale(' + previewDiameter/50 + ')'">
        image
      </mat-icon>
      <fs-file-actions
          [actions]="actions"
          [file]="file">
        @if (showUploadAction) {
          <ng-template
            fs-file-action
            placement="bottom-right"
            [icon]="'photo_camera'">
          </ng-template>
        }
      </fs-file-actions>
    </div>
  </ng-template>
</fs-file-picker>