fs-file-picker {
  ::ng-deep {
    .wrap {
      border: none !important;
    }

    .preview-container {
      border-radius: 100% !important;
    }

    fs-file-actions {
      margin: 0 !important;
    }
  }
}

.fs-file-image-picker-placeholder {
  border: 1px solid #ccc;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .image-icon {
    transform: scale(1.5);
    color: #ececec;
  }

  fs-file-actions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}