.fs-image-label {
  min-height: 1px;
}

.wrap {
  position: relative;
  display: inline-flex;

  &:not(.disabled) {
    cursor: pointer;
  }
  
  &.disabled {
    .upload-icon {
      display: none;
    }
  }
    
  &.processing {
    mat-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    .image-preview {
      opacity: .5;
    }
  }

}

.image-preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  box-sizing: content-box;

  .upload-icon {
    position: absolute;
    display: block;
    top: 11%;
    left: 11%;
    margin: -13px;

    button {
      box-shadow: none;
    }

    mat-icon {
      color: rgb(233, 233, 233);
    }
  }
  
  .no-image {
    display: flex;  
    mat-icon {
      color: rgb(236, 236, 236);
    }
  }

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}