

<fs-label-field class="fs-image-label" *ngIf="label; else elseLabel">
  <fs-label>{{label}}</fs-label>
  <ng-container *ngTemplateOutlet="preview"></ng-container>
</fs-label-field>

<ng-template #preview>
  <fs-file-image-picker-preview
    [file]="_file"
    [imageWidth]="imageWidth"
    [imageHeight]="imageHeight"
    [previewDiameter]="previewDiameter"
    [imageQuality]="imageQuality"
    [minWidth]="minWidth"
    [minHeight]="minHeight"
    (select)="selectFile($event)"
    (error)="error.emit($event)">
  </fs-file-image-picker-preview>
</ng-template>

<ng-template #elseLabel>
  <ng-container *ngTemplateOutlet="preview"></ng-container>
</ng-template>
