.queue {
  position: relative;
  display: block; }

.preview {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  border: 2px #a0a0a0 solid;
  vertical-align: top; }
  .preview:hover .actions {
    display: block; }
  .preview img {
    display: block; }
