<fs-file
  (select)="select($event)"
  [multiple]="true">
  <button
    mat-flat-button
    color="primary">
    Select File
  </button>
</fs-file>
<div class="previews fs-row.gap-sm.wrap">
  @for (file of files; track file.id) {
    <fs-file-preview [file]="file.file">
      <ng-template
        fs-file-preview-action
        placement="bottom-left"
        [tooltip]="'Download'"
        (click)="download($event)"
        [icon]="'download'">
      </ng-template>
      <ng-template
        fs-file-preview-action
        placement="bottom-right"
        [tooltip]="'Remove'"
        (click)="remove(file)"
        [icon]="'close'">
      </ng-template>
      <ng-template
        fs-file-preview-action
        placement="top-right"
        [tooltip]="'Default'"
        [show]="!file.default"
        (click)="default(file)"
        [icon]="'settings'">
      </ng-template>
    </fs-file-preview>
  }
</div>
@if (files.length > 0) {
  <fieldset>
    <legend>
      Files
    </legend>
    <pre>
      {{ files | json }}
    </pre>
  </fieldset>
}