<fs-file (select)="select($event)" multiple="true" imageWidth="1000" imageHeight="1000" imageQuality=".1">
  <button mat-raised-button color="primary">Select File</button>
</fs-file>

<fs-file-previews [files]="files">
  <ng-template fs-file-preview-action placement="top-right" action="remove" tooltip="Remove">
    <mat-icon>close</mat-icon>
  </ng-template>
</fs-file-previews>

<fieldset *ngIf="filesJsonInfo.length > 0">
  <legend>Files</legend>
  <pre>{{ filesJsonInfo | json }}</pre>
</fieldset>
