<div fxLayout="row" fxLayoutGap="20px">
  <fs-file-picker (select)="select($event)"
                  (remove)="remove()"
                  [file]="file">
      <div fs-file-label>File Picker Label</div>
  </fs-file-picker>

  <fs-file-picker (select)="select($event)"
                  (remove)="remove()"
                  [file]="file"
                  [showFilename]="false">
      <div fs-file-label>File Picker with hidden filename</div>
  </fs-file-picker>
</div>

<fieldset *ngIf="file">
  <legend>File</legend>
  <pre>{{ file | json }}</pre>
</fieldset>
