<div class="fs-row.gap-md">
  <fs-file-picker
    (select)="select($event)"
    (remove)="remove()"
    [file]="file"
    [accept]="'*.pdf'"
    [allowDownload]="true"
    (download)="download()">
    <div fsFileLabel>
      File Picker Label
    </div>
  </fs-file-picker>
  <fs-file-picker
    (remove)="remove()"
    [allowRemove]="true"
    [url]="url">
    <div fsFileLabel>
      File Picker From URL
    </div>
    <div fsFileHint>
      Hint message
    </div>
  </fs-file-picker>
  <fs-file-picker
    (remove)="remove()"
    [allowRemove]="true"
    [file]="apiFile">
    <div fsFileLabel>
      File Picker from ApiFile
    </div>
  </fs-file-picker>
</div>
<fs-file-picker
  (select)="select($event)"
  (remove)="remove()"
  [previewWidth]="null">
  <div fsFileLabel>
    File Picker Label
  </div>
</fs-file-picker>
@if (file) {
  <fieldset>
    <legend>
      File
    </legend>
    <pre>form
      {{ file | json }}
    </pre>
  </fieldset>
}