<div fxLayout="row" fxLayoutGap="20px">
  <fs-file-picker
      (select)="select($event)"
      (remove)="remove()"
      [file]="file"
      [allowDownload]="true"
      (download)="download($event)">
    <div fsFileLabel>File Picker Label</div>
  </fs-file-picker>

  <fs-file-picker
      (remove)="remove()"
      [allowRemove]="true"
      [url]="url">
    <div fsFileLabel>File Picker From URL</div>
    <div fsFileHint>Hint message</div>
  </fs-file-picker>

  <fs-file-picker
      (remove)="remove()"
      [allowRemove]="true"
      [apiFile]="apiFile">
    <div fsFileLabel>File Picker from ApiFile</div>
  </fs-file-picker>
</div>

<fieldset *ngIf="file">
  <legend>File</legend>
  <pre>{{ file | json }}</pre>
</fieldset>
<!-- 
<button 
    mat-raised-button
    type="button"
    (click)="openDialog()">
  Open Dialog
</button> -->