@for (file of files; track file; let index = $index) {
  <fs-file-preview
    [file]="file | filePreviewMapFile:mapFile"
    [previewWidth]="previewWidth"
    [previewHeight]="previewHeight"
    [actions]="actions"
    [showActionOn]="showActionOn"
    class="preview">
    @if (remove) {
      <ng-template
        fs-file-preview-action
        placement="bottom-right"
        [show]="!!remove"
        (click)="removeFile($event)"
        [icon]="'close'">
      </ng-template>
    }
  </fs-file-preview>
}