<!-- Image container -->
<ng-container *ngIf="file.typeImage; else nonImage">
  <img [src]="file.preview" *ngIf="file.preview && !file.progress && file.typeImage; else dummyImage">
  <ng-template #dummyImage>
    <img src="/assets/image.png" [width]="previewWidth" [height]="previewHeight">
    <mat-spinner class="spinner" *ngIf="file.progress" [diameter]="previewWidth/2"></mat-spinner>
  </ng-template>
</ng-container>

<!-- Non image container -->
<ng-template #nonImage>
  <ng-container [ngSwitch]="file.extension">
    <ng-template [ngSwitchCase]="'pdf'">
      <img src="/assets/pdf.png" [width]="previewWidth" [height]="previewHeight">
    </ng-template>
  </ng-container>
  <mat-spinner class="spinner" *ngIf="file.progress" [diameter]="previewWidth/2"></mat-spinner>
</ng-template>

<!-- Actions -->
<div class="actions">
  <span class="action" *ngFor="let action of filteredActions"
        [ngClass]="getActionClasses(action)"
        [matTooltip]="action.tooltip"
        (click)="callAction(action)"
  >
    <ng-template [ngTemplateOutlet]="actionsTemplate[action.index]"></ng-template>
  </span>
</div>
