<div
    [style.width.px]="previewWidth"
    [style.height.px]="previewHeight"
    class="preview-container"
    [ngClass]="{ 
      'has-actions': !!actions.length, 
      'type-image': file.typeImage 
    }">

  <!-- Image container -->
  <ng-container *ngIf="file; else nonImage">
    <img 
      [src]="file | previewImage | async" 
      [ngClass]="{ loaded: this.loaded }"
      (load)="previewLoaded()">
  </ng-container>

  <!-- Non image container -->
  <ng-template #nonImage>
    <div class="file-details">
      <div class="file-icon">
        <div class="file-ext">{{file.extension}}</div>
        <mat-icon>insert_drive_file</mat-icon>
      </div>
      <div class="file-name" [matTooltip]="file.name" *ngIf="showFilename && file.name">{{file.name}}</div>
    </div>
  </ng-template>

  <div class="actions">
    <ng-container *ngFor="let action of actionTemplates; let index = index">
      <div
        class="action mat-mini-fab mat-primary"
        *ngIf="!action.hide"
        [ngClass]="{ hide: action.hide }"
        [class]="action.placement"
        [matTooltip]="action.tooltip"
        (click)="callAction($event,action)">
        <span class="mat-button-wrapper">
          <ng-template [ngTemplateOutlet]="actionTemplateRefs[index]"></ng-template>
        </span>
      </div>
    </ng-container>
  </div>

  <div class="spinner">
    <mat-spinner *ngIf="file.progress" [diameter]="30"></mat-spinner>
  </div>

  <ng-content></ng-content>
</div>