<div
  [style.width.px]="previewWidth"
  [style.height.px]="previewHeight"
  class="preview-container"
    [ngClass]="{ 
      'type-image': typeImage,
      'loaded': loaded,
    }">
  <!-- Image container -->
  @if (typeImage) {
    <img
      [src]="file | fsFileSrc | async"
      (load)="previewLoaded()"
      (error)="previewError()">
    @if (!loaded) {
      <mat-spinner [diameter]="50"></mat-spinner>
    }
  } @else {
    <div class="file-details">
      <div class="file-icon">
        <div
          class="file-ext"
          [style.fontSize]="extensionFontSize + 'px'">
          {{ file.extension }}
        </div>
        <mat-icon
          [style.width]="iconDim + 'px'"
          [style.height]="iconDim + 'px'"
          [style.fontSize]="iconDim + 'px'">
          insert_drive_file
        </mat-icon>
      </div>
      @if (showFilename && file.name) {
        <a
          class="file-name"
          [matTooltip]="file.name">
          {{ file.name }}
        </a>
      }
    </div>
  }
  <!-- Non image container -->
  <fs-file-actions
    [actions]="actions"
    [file]="file">
  </fs-file-actions>
  <div class="spinner">
    @if (file?.progress) {
      <mat-spinner [diameter]="50"></mat-spinner>
    }
  </div>
  <ng-content></ng-content>
</div>