<fs-file-image-picker
  (select)="select($event)"
  [url]="url"
  imageQuality=".8"
  imageWidth="500"
  imageHeight="500"
  previewDiameter="75">
</fs-file-image-picker>


<fs-file-image-picker
  #imagePicker
  (select)="select($event)"
  [url]="url"
  imageQuality=".8"
  imageWidth="500"
  imageHeight="500"
  previewDiameter="120">
</fs-file-image-picker>

<button mat-button (click)="cancel()">Cancel changing</button>

<fieldset *ngIf="file">
  <legend>File</legend>
  <pre>{{ file | json }}</pre>
</fieldset>

