<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">

  <div>
    <fs-file-image-picker
        #imagePicker
        (select)="select($event)"
        (selectUrl)="selectUrl($event)"
        (error)="error($event)"
        [url]="url"
        [imageQuality]=".8"
        [imageWidth]="500"
        [imageHeight]="500"
        [minHeight]="300"
        [minWidth]="300"
        [previewDiameter]="250"
        label="Picker With Label">
      <div fsFileMessageLabel>
        Hint!
      </div>
    </fs-file-image-picker>

    <ul>
      <li>Image Quality: <b>80%</b></li>
      <li>Preview Diameter: <b>120px</b></li>
      <li>Min Width: <b>300px</b></li>
      <li>Min Heith: <b>300px</b></li>
    </ul>
  </div>

  <div>
    <fs-file-image-picker
      [style.display]="'block'"
      (select)="select($event)"
      (selectUrl)="selectUrl($event)"
      [url]="url"
      [imageQuality]=".8"
      [imageWidth]="500"
      [imageHeight]="500"
      [previewDiameter]="75">
    </fs-file-image-picker>

    <ul>
      <li>Image quality: <b>80%</b></li>
      <li>Preview Diameter: <b>75px</b></li>
    </ul>
  </div>

  <div>
    <fs-file-image-picker
      (select)="select($event)"
      (selectUrl)="selectUrl($event)"
      [url]="url"
      [disabled]="true">
    </fs-file-image-picker>
    
    <ul>
      <li>Disabled</li>
    </ul>
  </div>
</div>

<br>
<button mat-raised-button color="primary" (click)="cancel()">Cancel changing</button>

<fieldset *ngIf="file">
  <legend>File</legend>
  <pre>{{ file | json }}</pre>
</fieldset>

