@use '@angular/material' as mat;
$phone-width-max: 767.98px;
$tablet-width-min: 768px;
$tablet-width-max: 991.98px;
$desktop-width-min: 992px;

@mixin phone {
  @media only screen and (max-width: #{$phone-width-max}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$tablet-width-min}) and (max-width: #{$tablet-width-max}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop-width-min}) {
    @content;
  }
}

@mixin fs-file($theme) {

  $primary: mat.m2-define-palette($theme);

  fs-file {
    fs-file-dragover-message {
      .dragover-message {
        z-index: 999;
        display: none;
        .content {
          background-color: mat.m2-get-color-from-palette($primary);
        }

        .bounce {
          color: mat.m2-get-color-from-palette($primary);
        }
      }
    }

    &.dragover {
      fs-file-dragover-message {
        .dragover-message {
          display: flex !important;
        }
      }
    }
  }

fs-file-picker {
  &.dragover {
    .wrap {
      &:after {
        border-color: mat.m2-get-color-from-palette($primary);
      }
    }
  }
}


fs-file-image-picker {
  .wrap:not(.exists) {
    .image-preview {
      border-color: mat.m2-get-color-from-palette($primary) !important;
    }
  }
}

fs-file-previews {
  margin-top: -10px;
  display: block;

  .queue {
    position: relative;
    display: block;
  }

  fs-file-preview {
    margin-right: 10px;
    margin-top: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

  @media only screen and (max-width: 550px) {
    fs-file-preview .actions {
        display: block;
        background: none;
    }
  }
}

