<div class="label"
     [ngStyle]="{'width.px': previewWidth || 150}">
  <ng-content select="[fs-file-label]"></ng-content>
</div>
<fs-file-preview class="preview"
                 *ngIf="file; else preview"
                 (remove)="removeFile($event)"
                 [file]="file"
                 [previewWidth]="previewWidth"
                 [previewHeight]="previewHeight">
  <ng-template fs-file-preview-action placement="bottom-left" action="remove" tooltip="Remove">
    <mat-icon>close</mat-icon>
  </ng-template>
  <ng-template fs-file-preview-action placement="bottom-right" tooltip="Reupload">
      <fs-file  (select)="selectFile($event)"
                [imageWidth]="imageWidth"
                [imageHeight]="imageHeight"
                [imageQuality]="imageQuality">
        <mat-icon>cloud_upload</mat-icon></fs-file>
  </ng-template>
</fs-file-preview>

<ng-template #preview>
    <fs-file  (select)="selectFile($event)"
              [imageWidth]="imageWidth"
              [imageHeight]="imageHeight"
              [imageQuality]="imageQuality">
    <div class="select">
      <mat-icon>cloud_upload</mat-icon>
      <div class="instruction">{{instruction}}</div>
      <div class="mat-raised-button mat-primary">Upload</div>
    </div>
  </fs-file>
</ng-template>

