<div class="label"><ng-content select="[fs-file-label]"></ng-content></div>
<div *ngIf="file; else preview">
  <fs-file-preview class="preview"
                   (remove)="removeFile($event)"
                   [file]="file"
                   [previewWidth]="fsFile.previewWidth"
                   [previewHeight]="fsFile.previewHeight">
    <ng-template fs-file-preview-action placement="bottom-left" action="remove" tooltip="Remove">
      <mat-icon>close</mat-icon>
    </ng-template>
    <ng-template fs-file-preview-action placement="bottom-right" tooltip="Reupload" (click)="fileInput.click()">
      <mat-icon>cloud_upload</mat-icon>
    </ng-template>
  </fs-file-preview>
</div>

<ng-template #preview>
  <div class="select" (click)="fileInput.click()">
    <mat-icon>cloud_upload</mat-icon>
    <div class="instruction">{{instruction}}</div>
    <button mat-raised-button color="primary">Upload</button>
  </div>
</ng-template>

<input type="file"
       [hidden]="true"
       [disabled]="fsFile.disabled"
       [multiple]="fsFile.multiple"
       [attr.accept]="fsFile.accept"
       #fileInput
>

