@if (label || labels.length) {
  <fs-label-field>
    <ng-container *ngIf="label; else labelContent">
      <fs-label class="fs-form-label">
        {{ label }}
      </fs-label>
    </ng-container>
    <ng-template #labelContent>
      <fs-label
          *ngIf="labels.length"
          class="fs-form-label">
        <ng-content select="[fsFileLabel]"></ng-content>
      </fs-label>
    </ng-template>
    <ng-container [ngTemplateOutlet]="fileTemplate"></ng-container>
    <fs-label-message class="fs-form-message">
      <span class="fs-form-hint">
        <ng-content select="[fsFileHint]"></ng-content>
        <ng-content select="[fsFileMessageLabel]"></ng-content>
      </span>
    </fs-label-message>
  </fs-label-field>
} @else {
  <ng-container [ngTemplateOutlet]="fileTemplate"></ng-container>
}
<ng-template #fileTemplate>
  <fs-file
      [accept]="accept"
      (select)="selectFile($event)"
      (declined)="declined()"
      (beforeProcessing)="beforeProcessing($event)"
      [imageWidth]="imageWidth"
      [imageHeight]="imageHeight"
      [imageQuality]="imageQuality"
      [disabled]="disabled"
      [multiple]="multiple">
    <div
        class="wrap"
        [style.width]="previewWidth ? previewWidth + 'px' : '100%'"
        [style.height]="previewHeight + 'px'"
        [ngClass]="{ processing: processing, 'has-file': !!file }">
      <ng-container *ngIf="processing">
        <mat-spinner [diameter]="50"></mat-spinner>
      </ng-container>
      <ng-container *ngIf="file; else preview">
        <fs-file-preview
            class="preview"
            (remove)="removeFile()"
            [file]="file"
            [showActionOn]="showActionOn"
            [showFilename]="showFilename"
            [previewHeight]="previewHeight"
            [previewWidth]="previewWidth">
          @for (action of actions; track action.placement) {
            <ng-template
              fs-file-action
              [hide]="action.hide"
              [actionDirective]="action">
            </ng-template>
          }
          <ng-template
            *ngIf="allowRemove && !disabled"
            fs-file-preview-action
            placement="bottom-left"
            action="remove"
            [icon]="'close'"
            (click)="removeFile()">
          </ng-template>
          <ng-template
            *ngIf="allowReupload && !disabled"
            fs-file-preview-action
            placement="bottom-right"
            tooltip="Reupload"
            [file]="file"
            [icon]="uploadIcon">
          </ng-template>
          <ng-template
            fs-file-preview-action
            placement="top-right"
            action="download"
            [file]="file"
            [icon]="'download'"
            [hide]="!(allowDownload && ((download.observers.length && file) || file?.url))"
            (click)="downloadClicked($event)">
          </ng-template>
        </fs-file-preview>
      </ng-container>
      <ng-template #preview>
        <ng-container *ngIf="filePickerSelectTemplate">
          <ng-container [ngTemplateOutlet]="filePickerSelectTemplate"></ng-container>
        </ng-container>
        <ng-container *ngIf="!filePickerSelectTemplate">
          <div class="select">
            <mat-icon>
              upload
            </mat-icon>
            <div class="instruction">
              {{ instruction }}
            </div>
            <button
                [disabled]="disabled"
                type="button"
                mat-stroked-button>
              Upload
            </button>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </fs-file>
</ng-template>