:host {
  &.dragover {
    .wrap {
      border-color: transparent;
      
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .select {
        border: none;
      }
    }

    .select {
      button {
        display: none;
      }

      .mat-icon {
        color: #07a8e6;
      }
    }
  }

  ::ng-deep {

    fs-file-preview {
      border: none;
      height: 100%;
      width: 100%;

      .file-name {
        order: -1;
        padding: 0px !important;
      }

      fs-file-actions {
        margin: 10px;
      }
    }
  }
}

.wrap {
  border: 1px #efefef solid;
  border-radius: 5px;
  position: relative;

  &.processing {
    .select {
      display: none;
    }

    mat-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }

  .download {
    color: inherit;
  }

  .select {
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    mat-icon {
      transform: scale(1.8);
      color: #ddd;
    }
  }

  .instruction {
    font-size: 75%;
    padding: 12px 0;
    line-height: normal;
  }
}