<fs-label-field class="fs-form-wrapper fs-label">
  <ng-container *ngIf="label; else labelContent">
    <fs-label>{{label}}</fs-label>
  </ng-container>
  <ng-template #labelContent>
    <fs-label *ngIf="labels.length">
      <ng-content select="[fsFileLabel]"></ng-content>
    </fs-label>
  </ng-template>
  <fs-file
      [accept]="accept"
      (select)="selectFile($event)"
      [imageWidth]="imageWidth"
      [imageHeight]="imageHeight"
      [imageQuality]="imageQuality"
      [disabled]="disabled">
    <div class="wrap"
        [style.width]="previewWidth + 'px'"
        [style.height]="previewHeight + 'px'">
      <fs-file-preview
          class="preview"
          *ngIf="file; else preview"
          (remove)="removeFile()"
          [file]="file"
          [showFilename]="showFilename"
          [previewHeight]="previewHeight"
          [previewWidth]="previewWidth">
        <ng-template
            fs-file-preview-action
            placement="top-right"
            action="remove"
            tooltip="Remove"
            *ngIf="allowRemove" 
            (click)="actionClick($event)">
          <mat-icon>close</mat-icon>
        </ng-template>
        <ng-template
            fs-file-preview-action
            placement="bottom-right"
            tooltip="Reupload"
            *ngIf="allowReupload">
          <mat-icon>cloud_upload</mat-icon>
        </ng-template>
        <ng-template
            fs-file-preview-action
            placement="bottom-left"
            action="download"
            tooltip="Download"
            [hide]="!(allowDownload && file.url)"
            (click)="actionClick($event)">
          <a 
              [href]="file.url" 
              target="_blank" 
              tabindex="-1" 
              class="download">
            <mat-icon>cloud_download</mat-icon>
          </a>
        </ng-template>
      </fs-file-preview>

      <ng-template #preview>
        <div class="select">
          <mat-icon>cloud_upload</mat-icon>
          <div class="instruction">{{instruction}}</div>
          <div class="mat-raised-button mat-primary">Upload</div>
        </div>
      </ng-template>
    </div>
  </fs-file>
  <fs-label-message class="fs-form-message">
    <span class="fs-form-hint">
      <ng-content select="[fsFileHint]"></ng-content>
      <ng-content select="[fsFileMessageLabel]"></ng-content>
    </span>
  </fs-label-message>
</fs-label-field>