<fs-file-picker
    (select)="select($event)"
    [imageQuality]=".8"
    [imageWidth]="500"
    [imageHeight]="500">
  <div fsFileLabel>File Picker Label</div>
  <ng-template 
      fs-file-preview-action 
      placement="bottom-left" 
      (click)="view($event)"
      tooltip="View">
    <mat-icon>search</mat-icon>
  </ng-template>
</fs-file-picker>
<fieldset *ngIf="file">
  <legend>File</legend>
  <pre>{{ file | json }}</pre>
</fieldset>

<ul>
  <li>Image quality: <b>80%</b></li>
  <li>Max width: <b>500</b></li>
  <li>Max height: <b>500</b></li>
</ul>
