<div fxLayout="row wrap" fxLayoutGap="10px">
  <div>
    <fs-file (select)="select($event)" accept="image/*" capture="camera" multiple="true">
      <button mat-raised-button color="primary">Take a Photo</button>
    </fs-file>
  </div>
  <div>
    <fs-file (select)="select($event)" accept="video/*" capture="camera" multiple="true">
      <button mat-raised-button color="primary">Take a Video</button>
    </fs-file>
  </div>
  <div>
    <fs-file (select)="select($event)" accept="video/*;image/*" capture="library" multiple="true">
      <button mat-raised-button color="primary">Select From Library</button>
      <div>
        <mat-hint>Requires Cordova camera and file plugins</mat-hint>
      </div>
    </fs-file>
  </div>
</div>

<fieldset *ngIf="files.length">
  <legend>Files</legend>
  <fs-file-previews [files]="files"></fs-file-previews>
  <pre>{{ files | json }}</pre>
</fieldset>
