<fs-examples title="Files" name="file">
  <div class="example">
    <fs-example title="File" componentName="single-file-select">
      <single-file-select></single-file-select>
    </fs-example>
  </div>

  <div class="example">
    <fs-example title="Multiple With Preview" componentName="multiple-file-select">
      <multiple-file-select></multiple-file-select>
    </fs-example>
  </div>

  <div class="example">
    <fs-example title="Image Resampling" componentName="image-file-manipulation">
      <image-file-manipulation></image-file-manipulation>
    </fs-example>
  </div>

  <div class="example">
    <fs-example title="File Picker" componentName="file-picker">
      <file-picker></file-picker>
    </fs-example>
  </div>

  <div class="example">
    <fs-example title="File Picker with URL Preview Image" componentName="file-picker-existing-url">
      <file-picker-existing-url></file-picker-existing-url>
    </fs-example>
  </div>

  <div class="example">
    <fs-example title="File Picker with Filename" componentName="file-picker-existing-file">
      <file-picker-existing-file></file-picker-existing-file>
    </fs-example>
  </div>
</fs-examples>



