<fs-examples [config]="config">
     <fs-example name="Single File" componentName="single-file-select">
      <single-file-select></single-file-select>
    </fs-example>

    <fs-example name="Multiple Files With Preview" componentName="multiple-file-select">
      <multiple-file-select></multiple-file-select>
    </fs-example>

    <fs-example name="Image Resampling" componentName="image-file-manipulation">
      <image-file-manipulation></image-file-manipulation>
    </fs-example>

    <fs-example name="File Picker Model" componentName="file-picker-model">
      <file-picker-model></file-picker-model>
    </fs-example>

    <fs-example name="File Picker with Resampling" componentName="file-picker">
      <file-picker></file-picker>
    </fs-example>

    <fs-example name="File Picker" componentName="file-picker-existing-file">
      <file-picker-existing-file></file-picker-existing-file>
    </fs-example>

    <fs-example name="Simple Image Picker" componentName="file-image-picker">
      <file-image-picker></file-image-picker>
    </fs-example>
    
    <fs-example name="Preview" componentName="file-preview">
      <file-preview></file-preview>
    </fs-example>

    <fs-example name="HTML5 Single Media Capture" componentName="capture-single">
      <capture-single></capture-single>
    </fs-example>  
  </fs-examples>


