<h1>Files</h1>
<div class="example">
    <fs-example title="Single File Select" componentName="single-file-select">
        <single-file-select></single-file-select>
    </fs-example>
</div>

<div class="example">
  <fs-example title="Multiple File Select" componentName="multiple-file-select">
    <multiple-file-select></multiple-file-select>
  </fs-example>
</div>

<div class="example">
  <fs-example title="Image File Manipulation" componentName="multiple-file-select">
    <image-file-manipulation></image-file-manipulation>
  </fs-example>
</div>
