<!-- Image container -->
<ng-container *ngIf="file.typeImage; else nonImage">
  <img [src]="file.preview" *ngIf="file.preview && !file.progress && file.typeImage; else dummyImage">
  <ng-template #dummyImage>
    <img src="/assets/image.png" [width]="previewWidth" [height]="previewHeight">
    <mat-spinner class="spinner" *ngIf="file.progress" [diameter]="previewWidth/2"></mat-spinner>
  </ng-template>
</ng-container>

<!-- Non image container -->
<ng-template #nonImage>
  <div class="file-info-container" [style.width.px]="previewWidth" [style.height.px]="previewHeight">
    <div class="file-ext">{{file.extension}}</div>
    <div class="file-name" [matTooltip]="file.name">{{file.name}}</div>
  </div>
  <mat-spinner class="spinner" *ngIf="file.progress" [diameter]="previewWidth/2"></mat-spinner>
</ng-template>

<!-- Actions -->
<div class="actions">
  <button class="action" mat-mini-fab color="primary"
          *ngFor="let action of filteredActions"
          [ngClass]="getActionClasses(action)"
          [matTooltip]="action.tooltip"
          (click)="callAction(action)">
    <ng-template [ngTemplateOutlet]="actionsTemplate[action.index]"></ng-template>
  </button>
</div>
