.queue {
  position: relative;
  display: block;
}

.preview {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  border: 1px #DDD solid;
  vertical-align: top;
  border-radius: 3px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .actions {
      display: block;
    }
  }

  img {
    display: block;
    border-radius: 3px;
  }
}
