@import '../tools/assets/playground.scss';
@import '~@firestitch/message/styles.scss';
@import '../src/app/styles.scss';
@import '~@angular/material/theming';

@include mat-core();
@include fs-file($mat-blue);


pre {
  word-break: break-all;
  white-space: pre-wrap;
  font-size: 14px;
  margin: 0;
}

ul {
  padding: 0;

  li {
    list-style: none;
    padding-bottom: 4px;
    &:last-child {
      padding: 0;
    }
  }
}

