:host.dragover .select {
  border: 2px #07a8e6 dashed;
  color: #07a8e6; }
  :host.dragover .select button {
    display: none; }
  :host.dragover .select .mat-icon {
    color: #07a8e6; }

:host.dragover ::ng-deep .preview-container:after {
  content: "";
  width: 98%;
  display: block;
  height: 98%;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px #07a8e6 dashed;
  background: #07a8e6;
  opacity: 0.4; }

.select {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 150px;
  height: 150px;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box; }
  .select mat-icon {
    transform: scale(1.8);
    color: #ddd; }

.instruction {
  font-size: 12px;
  padding: 8px 0; }

.label {
  transform: scale(0.75) translateZ(0.001px);
  transform-origin: 0 0; }
