<div [style.width.px]="previewWidth" [style.height.px]="previewHeight" class="preview-container" [ngClass]="{ 'has-actions': !!actions.length }">

  <!-- Image container -->
  <ng-container *ngIf="file.typeImage; else nonImage">
    <img [src]="preview" *ngIf="preview">
    <mat-spinner class="spinner" *ngIf="file.progress" [diameter]="previewWidth/2"></mat-spinner>
  </ng-container>

  <!-- Non image container -->
  <ng-template #nonImage>
    <div class="file-ext">{{file.extension}}</div>
    <div class="file-name" [matTooltip]="file.name">{{file.name}}</div>
    <mat-spinner class="spinner" *ngIf="file.progress" [diameter]="previewWidth/2"></mat-spinner>
  </ng-template>

  <!-- Actions -->
  <div class="actions">
    <button type="button" class="action" mat-mini-fab color="primary"
            *ngFor="let action of filteredActions"
            [ngClass]="getActionClasses(action)"
            [matTooltip]="action.tooltip"
            (click)="callAction(action)">
      <ng-template [ngTemplateOutlet]="actionsTemplate[action.index]"></ng-template>
    </button>
  </div>
</div>
