<div [style.width.px]="previewWidth" [style.height.px]="previewHeight" class="preview-container">

  <!-- Progress container -->
  <ng-container *ngIf="file.progress; else elsePreview">
    <mat-spinner class="spinner" [diameter]="previewWidth/2"></mat-spinner>
  </ng-container>

  <!-- Image container -->
  <ng-template #elsePreview>
    <ng-container *ngIf="file.typeImage; else nonImage">
      <img [src]="preview">
    </ng-container>

    <!-- Non image container -->
    <ng-template #nonImage>
        <div class="file-ext">{{file.extension}}</div>
        <div class="file-name" [matTooltip]="file.name">{{file.name}}</div>
    </ng-template>
  </ng-template>
</div>

<!-- Actions -->
<div class="actions">
  <button type="button" class="action" mat-mini-fab color="primary"
          *ngFor="let action of filteredActions"
          [ngClass]="getActionClasses(action)"
          [matTooltip]="action.tooltip"
          (click)="callAction(action)">
    <ng-template [ngTemplateOutlet]="actionsTemplate[action.index]"></ng-template>
  </button>
</div>
