.queue {
  position: relative;
  display: block;
}

.preview {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  border: 2px #a0a0a0 solid;
  vertical-align: top;

  &:hover {
    .actions {
      display: block;
    }
  }

  img {
    display: block;
  }
}
